body {
  background-color: mediumaquamarine;

  height: 100vh;
}

.animation {
  height: 20vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.animation2 {
  height: 20vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.animation_circle {
  margin: 15px;
  margin-top: 300px;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  background-color: white;
}
.circle_anime2 {
  position: relative;
}
.circle_anime1 {
  position: absolute;
  bottom: -15px;
  right: -15px;
}
.circle_anime3 {
  position: absolute;
  bottom: -15px;
  right: -15px;
}
.animation_squere {
  margin: 5px;
  margin-top: 300px;
  width: 10px;
  height: 70px;
  background-color: white;
}

@keyframes roll {
  from {
    transform: rotate(0deg) translate(45px);
  }
  to {
    transform: rotate(180deg) translate(45px);
  }
}
@keyframes roll2 {
  from {
    transform: rotate(0deg) translate(-45px);
  }
  to {
    transform: rotate(180deg) translate(-45px);
  }
}
.circle_anime1 {
  animation: roll 1s ease-in-out infinite;
}
.circle_anime3 {
  animation: roll2 1s ease-in-out infinite;
}
.animation_squere:nth-of-type(1) {
  animation-delay: 0.1s;
}
.animation_squere:nth-of-type(2) {
  animation-delay: 0.2s;
}
.animation_squere:nth-of-type(3) {
  animation-delay: 0.3s;
}
.animation_squere:nth-of-type(4) {
  animation-delay: 0.4s;
}
.animation_squere:nth-of-type(5) {
  animation-delay: 0.5s;
}

@keyframes sque {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(2);
  }
  100% {
    tranform: scaleY(1);
  }
}
.squere_anime {
  animation: sque 1s ease-in-out infinite;
}
