.status-bar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px 3px;
  margin-top: -5px;
}
.status-bar-setting {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px 3px;
  margin-top: -10px;
}
.status-bar-chat {
  top: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px 3px;
  margin-top: 2px;
}
.status-bar2 {
  top: 10px;
}
.status-bar__column {
  width: 33%;
}
.status-bar__column:first-child span {
  margin-right: 5px;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__column:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.status-bar__column .fa-battery-full {
  margin: 0px 5px;
}
