.status-bar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px 3px;
  margin-top: -5px;
}
.status-bar2 {
  top: 10px;
}
.status-bar__column {
  width: 33%;
}
.status-bar__column:first-child span {
  margin-right: 5px;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__column:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.status-bar__column .fa-battery-full {
  margin: 0px 5px;
}

@keyframes upper {
  0% {
    opacity: 0;
    bottom: -50px;
  }
  100% {
    bottom: 0;
  }
}

.nav__link {
  animation: upper 1s ease-in-out forwards;
}
.nav__list :first-child {
  animation-delay: 2s;
}
